
 *{
  margin: 0;
  padding: 0;
 }
 body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.container{
  /* position:absolute; */
  height: 100vh;
  justify-content: center;
  width: 100vw;
  background-color: black;
}
.loginpage{
  color: white;
  display: flex;
  font-weight: bolder;
  font-size: 40px;
  font-weight: bolder;
  justify-content: center;
  text-align: start;
  position: absolute;
  left: 30vw;
  align-items: center;
  top: 20%;
}
.loginoptions{
  position: relative;
  left: 100px;
  display: flex;
  flex-direction: column;
  top: 10px;
}
.join{
  font-size: 30px;
}
.googlelogin{
  background-color: white;
  width: 300px;
  border-radius:25px;
  height: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.googlelogin:hover{
  background-color: lightgray;
}
.button1{
  text-decoration: none;
}
.applelogin{
  gap: 5px;
  background-color: white;
  width: 300px;
  border-radius:25px;
  height: 50px;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.applelogin:hover{
  background-color: lightgray;
}
.google{
  text-decoration: none;
  font-size: 12px;
  color: black;
  text-align: center;
  justify-content: center;
}
